<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">


</head>
<body>
    <header>
        <h1>Your Parent Is Aging</h1>
        <p class="subtitle">Let Us Help</p>
    </header>
    
    <div class="page-layout">

       




    <div class="grid">

  <div class="box w-6 h-3">
    <h2 class="tag">General/update</h2>
    <p>This will be broken into two sections basic info about susan and her appointments</p>
    <ul>
      <li>Susan(your mother) has a dentist appoint at 12 october 31</li>
      <li>Susan had an point on august 15 and she had a refil for her perscription</li>

    </ul>
  </div>

  <div class="box w-6 h-3">
    <h2 class="tag">This is where the trackers will go</h2>
    <p>here is the mental tracker</p>
    <p>here is the physical tracker</p>
  </div>

  <div class="box w-12 h-1">
    <h2 class="tag">Susan's current medical perscription</h2>
    <p>list of the current medication susan is take next to this is a button that changes status based on the perscriptions susan is taking</p>
  </div>

  <div class="box w-4 h-2">
    <h2 class="tag" > Susan's sumary</h2>
    <p>helpfull data for a doctor's appointment or something</p>
  </div>

  <div class="box w-8 h-2">
    <h2 class="tag">fact check that boomer message</h2>
    <p>mom sends a questionable link or post past it into here to giver her a kind but factual response</p>

  </div>

  </div>

   <aside class="action-items">
    <h2>Action items/check list?</h2>
    <ul>
      <li>Book susan physical therapy appoitment</li>
      <li>set up time this week to take susan to the grocery store</li>
      <li>Check in with susan about her mental health</li>
    </ul>
  </aside>

 </div>



  
